@import "../../../variables.scss";

.btn {
  background: $btn-primary-text;
  padding: 0.6rem 1.1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease-in-out;
  gap: 0.5rem;
  &:hover {
    background: $btn-primary-dark-text;
    gap: 1rem;
  }
}