/* ------------- colors ------------*/
$default-text-color: #fff;

$background-color: #121212;
$background-color-secondary: #1D1D1D;

$primary-text: #0077ff;
$secondary-text: #C4C5C5;

$btn-primary-text: #0077ff;
$btn-primary-dark-text: #014a9c;

